*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #011627;
    font-family: sans-serif;
}

.menu{
    height: 60px;
    background-color: aliceblue;
    color: #000;
    display: flex;
    align-items: center;
}

.container-menu{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.selector-difficolta{
    width: 160px;
}

.play{
    padding: 2px 15px;
    border-radius: 3px;
}

.container{
    width: 500px;
    margin: 50px auto;
}

#grid{
    height: 500px;
}

#grid::after{
    display: block;
    content: "";
    clear: both;
}

.square-easy{
    border: 1px solid #fff;
    width: calc(100% / 10);
    height: calc(100% / 10);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.square-hard{
    border: 1px solid #fff;
    width: calc(100% / 9);
    height: calc(100% / 9);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.square-crazy{
    border: 1px solid #fff;
    width: calc(100% / 7);
    height: calc(100% / 7);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.clicked{
    background-color: aquamarine;
}